[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
check = "bash -c 'mypy . && mypy --install-types'"
tests = "coverage run -m pytest -s -p no:warnings"

[packages]
dateparser = "*"

[dev-packages]
mypy = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.13"
